/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Sora:wght@400;700&display=swap');

/* Base Styling for App */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: $white;
}

.container {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-flow: column;
    @media only screen and (max-width: $break-small) {
        padding: 0 20px;
    }
}

#float {
    &--right {
        float: right;
    }
    &--left {
        float: left;
    }
}

#text-align {
    &--center {
        text-align: center;
    }
    &--right {
        text-align: right;
    }
    &--left {
        text-align: left;
    }
}

#strong {
    font-weight: bold;
}

.display {
    &-desktop {
        display: block;
        @media screen and (max-width: $break-small) {
            display: none;
        }
    }
    &-mobile {
        display: none;
        @media screen and (max-width: $break-small) {
            display: block;
        }
    }
}

@media only screen and (max-width: $break-small) {
    .hide {
        display: none;
        visibility: hidden;
    }
}
