button,.button {
    display: inline-block;
    padding: 13px 26px;
    min-height: 50px;
    border: none;
    font-size: $font-size;
    @include border-radius(8px);
    @include display-font-stack;
    text-decoration: none;
    background-color: $yellow;
    color: $black;
}
