@use "/assets/scss/partials/helpers" as helper;

button, .button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    min-height: 50px;
    @include helper.border-radius(8px);
    font-size: helper.$font-size;
    @include helper.display-font-stack;
    font-weight: helper.$font-weight--heading;
    text-decoration: none;
    background-color: helper.$black;
    color: helper.$off-white;
}
