button, .button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-height: 50px;
    font-size: $font-size;
    @include display-font-stack;
    font-weight: $font-weight--heading;
    text-decoration: none;
    background-color: $medium-grey;
    color: $black;
}
