@use "/assets/scss/partials/helpers" as helper;

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    @include helper.display-font-stack;
    font-weight: helper.$font-weight--heading;
    background-color: helper.$white;
    color: helper.$black;
    &::before {
        content: "J";
    }
    &--black {
        background-color: helper.$black;
        color: helper.$white;
    }
    &--white {
        background-color: helper.$white;
        color: helper.$black;
    }
    &--link {
        text-decoration: none;
    }
}