@use "/assets/scss/partials/variables" as v;
@use "/assets/scss/partials/mixins" as m;

/* Typorgraphy */
h1,
.h1 {
    @include m.display-font-stack;
    font-size: 4rem;
    font-weight: v.$font-weight--default;
    color: v.$black;
    margin-top: 0;
    margin-bottom: .5em;
    @media screen and (max-width: v.$break-small) {
        font-size: 2.75rem;
        line-height: 3.5rem;
    }
}

h2,
.h2 {
    @include m.display-font-stack;
    font-size: 1.562rem;
    font-weight: v.$font-weight--default;
    color: v.$black;
    margin-top: 0;
    margin-bottom: .5em;
}

h3,
.h3 {
    @include m.display-font-stack;
    font-size: 0.800rem;
    color: v.$black;
    text-transform: uppercase;
    letter-spacing: 0.175rem;
    opacity: .75;
    margin-top: 0;
    margin-bottom: .5em;
}

p {
    @include m.font-stack;
    @include m.fontSize;
}
