/* Typorgraphy */
h1,
.h1,
h2,
.h2 {
    margin-top: 0;
    margin-bottom: .5em;
    @include display-font-stack;
    color: $black;
}

h3,
.h3 {
    margin-top: 0;
    margin-bottom: .3em;
    @include font-stack;
    color: $black;
}

p {
    @include font-stack;
    @include fontSize;
    line-height: $line-height;
    margin-bottom: .5rem;
}
