// FONT VARIABLES
$font-size: 16px;
$font-size--small: 12px;

$line-height: 1.8em;
$font-weight--heading: 400;
$font-weight--default: 500;

$font-family--default: 'Roboto', Arial, Helvetica, sans-serif;
$font-family--heading: 'Sora', sans-serif;

// BREAK POINTS
$break-small: 600px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

// COLOURS
$black: #29313A;
$white: #F7F7F7;
$light-grey: #F0F0F0;
$medium-grey: #DFDFDF;
$yellow: #E7AA35;
