// FONT VARIABLES
$font-size: 18px;
$font-size--small: 16px;

$line-height: 1.225em;
$font-weight--heading: 400;
$font-weight--default: 400;

$font-family--default: 'Nunito Sans', Arial, Helvetica, sans-serif;
$font-family--heading: 'Crete Round', serif;

// BREAK POINTS
$break-small: 600px;
$break-medium: 820px;
$break-large: 992px;
$break-xlarge: 1200px;

// COLOURS
$black: #29313A;
$white: #FFFFFF;
$off-white: #FCFBFA;
$light-grey: #F0F0F0;
$medium-grey: #DFDFDF;
$yellow: #FBAC08;
$blue: #2561E7;
